.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        min-height: 72px;
    }

    &__title {
        
        @include style-font(24px, $color, 700, .1px, 32px)
    }

    &__icons {
        display: none;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 815px;
        width: 100%;
    }
}

.header-burger {

    &__menu {
        display: none;
    }
}

.header-nav {

    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 300px;
    }

    &__link {
        @include style-font(14px, $color, 600, .2px, $LineHeight);
        text-decoration: none;
    }

    &__login {
        @include style-font(14px, $color, 700, .2px, 22px);
    }

    &__btn {
        width: 214px;
        height: 52px;
        background: #23a6f0;
        border-radius: 5px;

        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    &__text {
        @include style-font(14px, $color, 700, .2px, 22px);
    }
}
